body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-pageBG {
  min-height: 100vh;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 50px;
}
.about-pageBG{
  min-height: 100vh;
  background-image: url('aboutBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 50px;
}

.projects-pageBG {
  min-height: 100vh;
  background-image: url('projectsBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 50px;
}




.theme-light {
  color: #212529;
}

.theme-light main {
 
  color: #212529;
}

.theme-dark {
  color: #f8f9fa;
}

.theme-dark main {

  color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

    
}
